.shadow{
  box-shadow: 5px 10px 8px 10px #888888;
  width:300px;
}
.container{
margin: 50px;

}
.row{
  display: flex;
  align-items: center;
}
.square{
  border: 1px solid black;
  width:100px ;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
 background-color: black;
 color: white;
 width: 150px;
 height: 50px;
 border-radius: 15%;
 margin-left: 30px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button:hover{
 
  cursor:pointer;
  background-color: gray;
  box-shadow: 3px 5px #888888;
}
p{
  margin-left: 30px;
  color: red;
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  margin-left: 30px;
  text-shadow: 1px 1px 2px #000000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}